<!DOCTYPE HTML>
<HTML>

<HEAD>
    @Styles.Render("~/Content/StyleSheet1.css")

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</HEAD>

<BODY>
    <div class="menulinks">
        <div class="nav">
            <p class="titel">
                <u>OPTIONS</u>
            </p>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Account", "Account", "Home")</li>
                <li>@Html.ActionLink("Liedjes", "Liedoverzicht", "Lied")</li>
                <li>@Html.ActionLink("Albums", "Album", "Album")</li>
                <li>@Html.ActionLink("Bands", "Band", "Band")</li>
            </ul>
            <p class="titel">
                <u>JOUW AFSPEELLIJSTEN</u>
                <ul>
                    <li>@Html.ActionLink("Jouw afspeellijsten", "Playlistoverzicht", "Playlist")</li>
                </ul>
            </p>
        </div>
    </div>
    <div id="container">
        <div id="eersteblok">
            <img src="~/Content/Jelle logo 1.png" class="picture">
            <p>
                <i>Gemaakt door Jelle Schräder, klas S21T, voor de vakken SE2 en FUN2.</i>
            </p>

        </div>
        <div id="tweedeblok">
            <p id="searchbox">
                Search:
                <input type="text" id="textbox" name="search" size="15" />
            </p>
        </div>

        <div id="derdeblok">
            @RenderBody()
        </div>
        <div id="menurechts">
            <u>VRIENDENFEED</u>
            <ul>
                <li>@Html.ActionLink("Vrienden", "Friendfeed", "Friendfeed")</li>
            </ul>
        </div>
    </div>

    <div id="vierdeblok">
        <i class="material-icons">skip_previous</i>
        <i class="material-icons" id="pauze">pause_circle_outline</i>
        <i class="material-icons">skip_next</i>
        <i class="material-icons">loop</i>
    </div>

</BODY>

</HTML>