
@{
    ViewBag.Title = "Bands";
}

<h2>Bands</h2>

<table class="table">
    <tr>
        <th>
            Naam
        </th>
        <th>
            Opgericht Jaartal
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpgerichtJaartal)
            </td>
            <td>
                @Html.Encode(item.StartDatum.ToShortDateString())
            </td>
            <td>
                @Html.Encode(item.EindDatum.ToShortDateString())
            </td>
            <td>
                @Html.ActionLink("Beëindig", "BeëindigSchoonmaak", new { schoonmaakid = item.Id }, new { onclick = "return confirm('Is de schoonmaak afgelopen?');" })
            </td>
        </tr>
    }
</table>